@font-face {
  font-family: 'IstokWeb-Regular';
  src: url('../fonts/IstokWeb-Regular.eot');
  src: url('../fonts/IstokWeb-Regular.eot') format('embedded-opentype'),
  url('../fonts/IstokWeb-Regular.woff') format('woff'),
  url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
  url('../fonts/IstokWeb-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Roboto-Regular';  
src: url('../fonts/Roboto-Regular.eot');  
src: local('☺'), url('../fonts/Roboto-Regular.woff') 
format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), 
url('../fonts/Roboto-Regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'roboto-light';
src: url('../fonts/roboto-light.eot');
src: local('☺'), url('../fonts/roboto-light.woff') format('woff'), 
url('../fonts/roboto-light.ttf') format('truetype'), 
url('../fonts/roboto-light.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'roboto-thin';
src: url('../fonts/roboto-thin.eot');
src: local('☺'), url('../fonts/roboto-thin.woff') format('woff'), 
url('../fonts/roboto-thin.ttf') format('truetype'), 
url('../fonts/roboto-thin.svg') format('svg');
font-weight: normal;
font-style: normal;
}