.font-face(@family: 'IstokWeb-Regular', @filename: 'IstokWeb-Regular', @weight: normal, @style: normal){
  @font-face{
    font-family: @family;
      src:url('../fonts/@{filename}.eot');
      src:url('../fonts/@{filename}.eot?#iefix') format('embedded-opentype'),
          url('../fonts/@{filename}.woff') format('woff'),
          url('../fonts/@{filename}.ttf') format('truetype'),
          url('../fonts/@{filename}.svg') format('svg');
      font-weight: @weight;
      font-style: @style;

  }
}