

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;
    }
}

@colorwhite: #ffffff;
@coloryellowtext: #98721e;
@colorfootertext: #857170;
@colorblack: #000;


.animation(@_type_animate: scale(1.15,1.15), @_time: 550ms, @_type_enter: ease-out){
  transform: @_type_animate;
  -webkit-transform: @_type_animate;
  -webkit-transition-timing-function: @_type_enter;
  -webkit-transition-duration:@_time;
  -moz-transform: @_type_animate;
  -moz-transition-timing-function: @_type_enter;
  -moz-transition-duration: @_time;
}


.font-basic(@_font: 'IstokWeb-Regular', @_size: 14px, @_heigth: none, @_color: @coloryellowtext){
font-size: @_size;
font-family: @_font;
line-height: @_heigth;
color: @_color;

}