@import 'mixing';
@import 'fonts';
@import 'mix_font-face';


.container{
  // width: 1200px;
  margin: 0 auto;
}
.header{
   background: url(../img/main_back.png)repeat center;
   height: 570px;
  .top-menu{
    background: #201713;
    .container{
      .row{
        .left{
          img{
            float: left;
            margin: 20px 10px 15px 0px; 
          }
          p{
            .font-basic(@_heigth: 18px);
            margin: 20px 10px;
          }
        }
        .center{
          img{
            margin: 15px auto 20px auto;
          }
        }
        .rigth{
          .contact{
            margin: 0 auto;
            p{
              .font-basic(@_size: 24px, @_heigth: 24px);
              float: left;
              margin: 25px;
            }
            a{
              img{
                margin: 15px auto;
              }
            }
          }
        } 
      }
    }
  }
  .bottom-menu{
    background: url(../img/pixel.png);
    .container{
      // border-bottom: 1px solid #322e45;
      .row{
        .menu{
          .navbar-default{
            background-color: transparent;
            border: none;
            // margin: 10px auto;
            .font-basic(@_size: 16px, @_heigth: 24px, @_color: @colorwhite);
            .collapse{
              .nav{
                li{
                  border-bottom: 1px solid none;
                  &:hover{
                   border-bottom: 1px solid @coloryellowtext; 
                  }
                  a{
                    padding: 15px 10px;
                    &:hover{
                      color: @coloryellowtext;
                    }
                  }
                }
                .open{
                  
                  .dropdown-toggle{
                    background: none;
                    color: @coloryellowtext;
                  }
                  .dropdown-menu{
                    background-color: @colorblack;
                    li{
                      &:hover{
                        border-bottom: none;
                      }
                      a{  
                        color: @colorwhite;
                        &:hover{
                          color: @coloryellowtext;
                          background: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .navbar{
            margin-bottom: 0px;
            min-height: auto;
          }
        }
      }
    }
  }
  .header-title{
    margin-top: 10%px;
    .container{
      h1{
        .font-basic(@_font:'roboto-thin', @_size: 72px, @_color: @coloryellowtext);
      }
      h3{
        .font-basic(@_font:'roboto-thin', @_size: 72px, @_color: @colorwhite);
      }
    }
  }
}
.main{
  .mission{
    .our-mission{
      margin: 75px auto;
      h2{         
        text-align: center;
        .font-basic(@_font: 'roboto-light', @_size: 36px, @_color: @colorblack); 
      }
    }
    .elements-mission{
      .element{
        width: 265px;
        height: 415px;
        box-shadow: 0 0 40px rgba(0,0,0,0.5);
        position: relative;
        h3{
          position: absolute;
          margin: -135% 35%;
          .font-basic(@_font: 'roboto-light', @_size: 24px, @_color: @colorwhite);
        }
        p{
          position: absolute;
          margin: -120% 0%;
          text-align: center;
          .font-basic(@_color: @colorwhite, @_size: 14px);
        } 
      }
      .iphone{
        h3{
          text-align: center;
          margin: -30% 8%;
        }
      }
    }
    .content{
      margin-top: 60px; 
      p{
        .font-basic(@_font: 'roboto-light', @_size:16px, @_heigth: 24px, @_color: @colorblack);
        font-weight: lighter;
        text-align: justify;
        margin-bottom: 1em;
      }
    }
  }
  .info-company{
    margin-top: 85px;
    height: 500px;
    .container{
      .element{
        position: relative;
        text-align: center;
        z-index: 0;
          img{
            max-width: 370px;
            max-height: 370px;
          }
          h3{
            .font-basic(@_font: 'roboto-light', @_size: 30px, @_color: @colorwhite);
            margin: 10% 25%;
            position: absolute;

          }
           &:hover{
            bottom: 40px;
            right: 40px;
            z-index: 1;
            .animation();
          }
          &:hover img{
            min-width: 425px;
            min-height: 425px;
          }
          &:hover h3{
            margin: 30px 135px;
          }         
      }
    }
  } 

   .services{
    background: url(../img/background_services.png) repeat center;
    .container{
      .services-title{
        h2{
          margin: 60px auto;
          text-align: center;
          .font-basic(@_font: 'roboto-light', @_size: 36px, @_color: @colorwhite);
        }        
      }
      .services-elements{        
        .elements{
          text-align: center;
          img{
            margin: 35px auto;
            min-height: 90px;
          }
          p{
            .font-basic(@_font: 'roboto-light', @_size: 24px, @_color: @colorwhite);
            margin-bottom: 75px;
          }         
        }
      }
    }
   }
   .our-goals{
    .container{
      .our-goals-title{
        h2{
          text-align: center;
          .font-basic(@_font: 'roboto-light', @_size: 36px, @_color: @colorblack);
        }
      }
    }
    .background-goals{
          // background: url(../img/background_goals.png) left no-repeat;
          // background-size: 45% 100%;
      .container{
        .people{
          // margin: 30px -20px;
        }
        .content{
          p{
            .font-basic(@_font: 'roboto-light', @_size: 16px, @_heigth: 24px, @_color: @colorblack);
            margin-bottom: 0.4em;
          }
        }
      }
    } 
   }
}
.footer{
  margin-top: 20px;
  background: #2d1b1a;
    .container{
      border-bottom: 1px solid #322e45;
      .top-footer{
         .contact{
          img{
            float: left;
            margin: 20px 10px 15px 0px; 
          }
          p{
            .font-basic(@_heigth: 18px, @_color:@colorfootertext);
            margin: 20px 10px;
          }
        }
        .advertising{
          .font-basic(@_color: @colorfootertext);
          margin-top: 20px;
          padding-left: 0px;
        }
      }
      .bottom-footer{
        .phone{
          img{
            float: left;
            margin-right:15px; 
          }
          p{
            .font-basic(@_size: 24px, @_heigth: 24px, @_color: @colorfootertext);
          }
        }
        .menu-footer{
          // margin-left: 0px;
          padding: 0px;
          .navbar-default{
            background-color: transparent;
            border: none;
            margin: 0px auto 10px auto;
            .font-basic(@_size: 16px, @_heigth: 24px, @_color: @colorwhite);
            .collapse{
              .nav{
                li{
                  &:last-child a{
                    padding-right: 0px;
                  }
                  &:first-child a{
                      padding-left: 0px;
                    }
                  a{
                    padding: 8px;
                    padding-top: 0px;
                    &:hover{
                      color: @coloryellowtext;
                    }
                  }
                }
                .open{
                  border-bottom: 1px solid @coloryellowtext;
                  .dropdown-toggle{
                    background: none;
                    color: @coloryellowtext;
                    // position: absolute;
                  }
                  .dropdown-menu{
                    background-color: @colorblack;
                    li{
                      a{  
                        color: @colorwhite;
                        &:hover{
                          color: @coloryellowtext;
                          background: none;
                        }
                      }
                    }
                  }
                }
              }
            }
            .navbar-collapse{
              padding-left: 0px;
              padding-right: 0px;
            }
          }
          .navbar{
            // margin-bottom: 0px;
            min-height: auto;
          }
        }          
        .brand{
          text-align: right;
          img{
            margin: -4px 5px auto auto;
          }
          p{
            float: right;
            .font-basic(@_color:@colorfootertext);
          }
        }        
      }
    }  
}
// POP-UP
  .modal{
    .modal-dialog{
      margin: 20px auto;
      width: 370px;
      .modal-content{
        background: url(../img/back_form.png) no-repeat;
        .modal-header{
          h4{
            text-align: center;
            .font-basic(@_font: 'roboto-light', @_size: 16px, @_heigth: 24px, @_color: @colorblack);
          }
        }
        .modal-body{
          .form-horizontal{
            .form-group{
              .checkbox{
                label{
                  input[type="checkbox"]:checked{
                    background: red;
                  }
                }
              }
            }
          }
        }
        .modal-footer{
          text-align: center;
          .btn{
            width: 100%;
            background: #ce9b25;
            border-radius: 10px;
            padding: 10px 0px;
            .font-basic(@_size: 16px, @_color: #fff);
          }
        }
      }
    }
  }
// END POPAP

// Media
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .container{
   width: 90%;
  }
  .header{
    .top-menu{
      .container{
        .row{
          .left{
            p{
              font-size: 14px;
            }
          }
          .contact{
            float: right;
          }
        }
      }
    }
    .header-title{
      text-align: center;
    }
  }
  .main{
    .mission{
      .container{
        .our-mission{
          margin-bottom: 25px;
        }
        .elements-mission{
          .element{
            margin: 0 auto;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            margin-bottom: 20px;
          }
        }
      }
    }
    .info-company{
    margin-top: 35px;
    height: 400px;
    .container{
      .element{
          img{
            max-width: 265px;
            max-height: 265px;
          }          
        }           
      }
    }
    .our-goals{
      .background-goals{
        .container{
          .content{
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
  } 
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .container{
    width: 90%;
  }
  .header{
    height: 500px;
    .top-menu{
      .container{
        .row{
          .left{
            p{
              font-size: 14px;
            }
          }
          .contact{
            float: right;
          }
        }
      }
    }
    
    .header-title{
      text-align: center;
      .container{
        .row{
          h1{
            font-size: 48px;
          }
          h3{
            font-size: 48px;
          }
        }
      }      
    }
  }
  .main{
    .mission{
      .container{
        .our-mission{
          margin: 20px auto;
        }
        .elements-mission{
          .element{
            margin: 0 auto;
            margin-bottom: 20px;
          }
        }
      }
    }
    .info-company{
    margin-top: 35px;
    height: 300px;
    .container{
      .element{
          img{
            max-width: 230px;
            max-height: 230px;
          }
           h3{
            font-size: 20px;
          }
        }           
      }
    }
    .services{
      .container{
        .services-title{
          h2{
            margin: 20px auto;
          }
        }
      }
    }
    .our-goals{
      .background-goals{
        .container{
          .content{
            margin-top: 50px;
            p{
              font-size: 12px;
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }
  }
}
.footer .container .bottom-footer .menu-footer .navbar-default .collapse .nav li a {
  padding: 0px 5px;
  font-size: 14px;
}
.footer .container .bottom-footer .brand{
  padding-left: 0px;
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .container{
    width: 90%;
  }
   .header{
    height: auto;
    .top-menu{
      .container{
        .row{
          .left{
            p{
              font-size: 14px;
            }
          }
          .contact{
            float: right;
          }
        }
      }
    }
    .bottom-menu{
      .container{
        .row{
          .menu{
            .navbar{
              .navbar-header{
                .navbar-toggle{
                  margin-right: 0px;
                  border-color: @coloryellowtext;
                  .icon-bar{
                    background-color: @coloryellowtext;
                  }
                }
              }
            }
            .navbar-default{
              .navbar-collapse{
                border-color: @coloryellowtext;
                text-align: center;
                .nav{
                  li{
                    border-bottom: none;
                    a{
                      color: @coloryellowtext;
                      padding: 3px 0px;
                    }
                  }
                  .open{
                    .dropdown-menu{
                      background-color: rgba(105,50,11,0.4);
                      text-align: center;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .header-title{
      text-align: center;
      .container{
        .row{
          h1{
            font-size: 32px;
          }
          h3{
            font-size: 32px;
          }
        }
      }      
    }
  }
  .main{
    .mission{
      .container{
        .our-mission{
          margin: 15px auto;
        }
        .elements-mission{
          .element{
            margin: 0 auto;
            margin-bottom: 15px;
          }
        }
      }
    }
    .info-company{
    margin-top: 15px;
    height: auto;
    .container{
      .element{
        text-align: center;
        margin-bottom: 15px;
        
          img{
            max-width: 340px;
            max-height: 340px;
          }
          h3{
            font-size: 30px;
            margin: 5% 35%;
          }
        }           
      }
    }
    .services{
      .container{
        .services-title{
          h2{
            margin: 15px auto;
          }
        }
      }
    }
    .our-goals{
      .background-goals{
        .container{
          .content{
            margin-top: 50px;
            p{
              font-size: 12px;
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }
  }
  .footer {
    .container{
      .bottom-footer{
        .menu-footer{
          .navbar{
            .navbar-header{
              .navbar-toggle{
                float: left;
              }
            }
            .navbar-collapse{
              .navbar-nav{
                margin:7px 0px;
                li{
                  a{
                    &:first-child{
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px){
  .container{
    width: 90%;
  }

   .header{
    height: auto;
    .top-menu{
      .container{
        .row{
          .left{
            p{
              font-size: 10px;
            }
          }
          .center{
            float: left;
            width: 100%;
            text-align: center;
          }
          .rigth{
            width: 100%;
            .contact{
              float: left;
              p{
                margin: 10px;
                margin-left: 0px;
              }
              a{
                img{
                  margin-top: 0px;
                }
              }
            }
          }
        }
      }
    }
    .bottom-menu{
      .container{
        .row{
          .menu{
            .navbar{
              .navbar-header{
                .navbar-toggle{
                  margin-right: 0px;
                  border-color: @coloryellowtext;
                  .icon-bar{
                    background-color: @coloryellowtext;
                  }
                }
              }
            }
            .navbar-default{
              .navbar-collapse{
                border-color: @coloryellowtext;
                text-align: center;
                .nav{
                  li{
                    border-bottom: none;
                    a{
                      color: @coloryellowtext;
                      padding: 3px 0px;
                    }
                  }
                  .open{
                    .dropdown-menu{
                      background-color: rgba(105,50,11,0.4);
                      text-align: center;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .header-title{
      text-align: center;
      .container{
        .row{
          h1{
            font-size: 38px;
          }
          h3{
            font-size: 38px;
          }
        }
      }      
    }
  }
    .main{
    .mission{
      .container{
        .our-mission{
          margin: 15px auto;
        }
        .elements-mission{
          .element{
            margin: 0 auto;
            margin-bottom: 15px;
          }
        }
      }
    }
    .info-company{
    margin-top: 15px;
    height: auto;
    .container{
      .element{
        padding-left: 0px;
        text-align: center;
        margin-bottom: 15px;
          img{
            max-width: 300px;
            max-height: 300px;
          }
        }           
      }
    }
    .services{
      .container{
        .services-title{
          h2{
            margin: 15px auto;
          }
        }
        .services-elements{
          .elements{
            p{
              font-size: 12px;
            }
            img{
              max-height: 40px;
              margin: 10px auto;
            }
          }
        }
      }
    }
    .our-goals{
      .background-goals{
        background: none;
        .container{
          .people{
            img{
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
          .content{
            margin-top: 50px;
            p{
              font-size: 12px;
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }
  }
  .footer{
    .container{
      .bottom-footer{
        .menu-footer{
          .navbar{
            .navbar-header{
              .navbar-toggle{
                float: left;
              }
            }
            .navbar-collapse{
              .navbar-nav{
                margin:7px 0px;
                li{
                  a{
                    &:first-child{
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
    .modal{
      .modal-dialog{
        margin: 20px auto;
        width: 300px;
      }
  }
}